{% extends 'base.html.twig' %}

{% block title %}Episodes{% endblock %}

{% block body %}
    <h1>Episodes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ episode.summary }}</td>
            </tr>
            <tr>
                <th>Season</th>
                <td>{{ episode.season.number }}</td>
            </tr>
        </tbody>
    </table>

    {% if app.user %}

        <h4>Create new Comment</h4>

        {{ include('comment/_form.html.twig') }}

    {% endif %}

    <h4>{{ episode.title }} Comment</h4>



    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Comment</th>
            <th>Rate</th>
            <th>User</th>
            <th>Program</th>
            <th>Episode</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            {% if episode.title == comment.episode.title %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.comment }}</td>
                <td>{{ comment.rate }}</td>
                <td>{{ comment.user.username }}</td>
                <td>{{ comment.program.title }}</td>
                <td>{{ comment.episode.title }}</td>
                <td>
                    <a href="{{ path('comment_show', {'id': comment.id}) }}">show</a>

                {% if comment.user.username == user.username or is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('comment_edit', {'id': comment.id}) }}">edit</a>
                {% endif %}

                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    <a href="{{ path('episode_index') }}">back to list</a>

    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('episode_edit', {'slug': episode.slug}) }}">edit</a>

        {{ include('episode/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
